$background-low-color:#15a14e;
$background-deep-color:#178443;
$gray:#dddddd;
$blue:#23baf9;
$hover-color:#23baf9;
$body-color:#f1f1f1;
$text-color:#333;

$orange-low:#faa538;
$orange-deep:#f99513;

//===============color form about

//about main color
$green1:#072a2c;

//===============color form about