/*
*login
*
*register
*       本页面 验证提示消息  引用 自 user.css  有一段form-group 的坏样式待解决 来自 urer和custom  用于短信验证 其他无
*find_password
    有一段form-group 的坏样式待解决 来自 urer和custom  用于input框 其他无
*find_password2
    有一段form-group 的坏样式待解决 来自 urer和custom  用于input框 其他无
*find_password3


    本css  暂无页面引用
*/
@import "color";
@import "mixin";
@import "compass/css3";

input:-webkit-autofill {
  background:#fff;
}

/*-----------------login start-------------------*/
/*
.getbacktoindex {
  color: #595959;
  font-size: 12px;
  float: right;
  line-height: 53px;
}
*/

body{
  height:100vh;
}

.contain{
    @at-root .l_login {
      padding: 30px 57px;
      width: 400px;
      background: #fff;
      margin: 10% auto;
      @include box-shadow(0 0 8px hsl(0,0,80%));
      h4 {
        font-size: 14px;
        color: #444444;
      }
      form {
        margin-top: 25px;

        @at-root .l_text,.l_password {
          border-radius: 4px;
          width: 258px;
          height: 36px;
          line-height: 36px;
          padding-left: 14px;
          margin-bottom: 25px;
          border: 1px solid #bbbcbd;
        }

        @at-root .l_login_more {
          font-size: 13px;
          color: #393939;
          position: relative;
          margin-top: 17px;
          label {
            margin-left:26px

          }
          input {
            margin-right: 10px;
            width: 16px;
            height: 17px;
            position: absolute;
            left: 0px;
          }
          div.fr span{
            padding: 0 11px;
          }
        }

      }
    }

}



/*-----------------login end-------------------*/
/*-----------------register start-------------------*/

.reg_change .l_login_more{
  margin-top: 0;
}
.l_register_more {
  margin-top: 15px;
}
.l_register_more a {
  line-height: 40px;
  cursor: pointer;
}

.reg_change .form_group {
  padding-left: 0;
  margin-bottom: 20px;
  margin-top: -10px\9;
}
.reg_change .yanzhengma {
  width: 122px;
}
.reg_change .yanzhengma_div {
  width: 120px;
}
/*-----------------register end-------------------*/
/*-----------------find_password start-------------------*/
.find_password_con {
  background: #fff;
  margin: 16px 42px;
  height: 344px;
}
.find_password_con h3 {
  color: #f3203e;
  font-size: 14px;
  border-bottom: 2px solid #f3203e;
  height: 34px;
  line-height: 34px;
}
.find_password_con h3 i{
  background: #f3203e;
  margin:  0 11px 0 14px;
}
.find_progress {
  position: relative;
  width: 505px;
  margin: 30px auto 0;

}
.find_progress ul li {
  font-size: 13px;
  color: #585858;
  position: relative;
  width: 55px;
  height: 15px;
  padding-top: 49px;
  text-align: center;
  z-index: 99;
}
.find_progress ul li:first-child+li {
  margin-left: 189px;
}
.find_progress span {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background: #efefef;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 6px;
}
.find_progress span i{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  background: #f8f8f8;
  font-size: 14px;
  color: #64686d;
  font-style: normal;
  line-height: 25px;
  text-align: center;
  top: 8px;
  left: 8px;
}
.find_line {
  position: relative;
  height: 4px;
  width: 95%;
  background: #efefef;
  z-index: 1;
  top: -46px;
  left: 10px;
}


.find_p_con {
  margin-top: 35px;
  padding-left: 98px;
}

.find_p_con .form_group label{
  color: #444444;
  font-size: 14px;
  height: 25px;
  line-height: 35px;
}
.find_p_con form>.form_group {
  float: left;
  padding-left:15px;
}
.find_p_con form>.form_group input.p_text{
  width: 217px;
}

.find_p_con .sub_btn {
  margin: 25px 0 0 350px;

}
.find_p_con .form_group > input[type="password"] {
  padding-left: 18px;
}
.find_p_con .sub_btn:hover{
  background: #f76c86;
  border: 1px solid #d1405b;
}
.find_p_con>p{
  color: #444444;
  font-size: 14px;
  text-align: center;
  padding: 30px 0 28px 0;
}
/*-----------------find_password end-------------------*/

/*-----------------------  change css  -----------------------*/
/*login */
.back_to_home{
  line-height: 91px;
  font-size: 12px;
}
.login_head {
  box-shadow:0px 5px 12px #e3e3e3;
  position:relative;
}
.login_foot {
  height:auto;

}
.login_foot .copyright {
  padding:16px 0 10px 0;
}
.l_login_con ,.footer{
  background:#faf8f9;
}

.find_password_con h3 {
  background:#faf8f9;
}

.l_login_con .yanzhengma_div {
  margin-top:10px\9;
}

.find_p_con {
  padding-left:108px;
}
.find_password_con {
  height:auto;
}
.find_password_con h3 {
  border-bottom-width:1px;
}
.find_password_con > div.boxs_ebebeb {
  height:269px;
}
.l_login_con .u_side_r_nav ul li {
  margin-left:0px;
}


