<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>登录</title>

    <!--custom css start-->
    <link href="../stylesheets/common.css" rel="stylesheet" />
    <link href="../stylesheets/login.css" rel="stylesheet" />
    <!--custom css end-->

    <script src="../js/angular.min.js"></script>


</head>
<body ng-app="">

<!--头部开始-->
<div ng-include="'../public/login_header.html'"></div>

<!--main  start-->
<div class="l_login_con">
    <div class="w1080 clearfix">
        <div class="find_password_con">
            <h3><i class="dot_8"></i>找回密码</h3>
            <div class="boxs_ebebeb">
                <div class="find_progress">
                    <ul class="clearfix">
                        <li class="fl">
                            <span><i>1</i></span>
                            身份验证
                        </li>
                        <li class="fl">
                            <span><i class="bg_f24061">2</i></span>
                            重置密码
                        </li>
                        <li class="fr">
                            <span><i>3</i></span>
                            成功
                        </li>
                    </ul>
                    <div class="find_line"></div>
                </div>
                <div class="find_p_con" style="padding-left: 236px">
                    <form action="" class="clearfix">
                        <div class="form_group">
                            <label for="">输入新密码：</label><br>
                            <input class="p_text" type="password" value="" id="TextNew1Password" autocomplete="new-password" />
                        </div>
                        <div class="form_group">
                            <label for="">再次输入新密码：</label><br>
                            <input class="p_text" type="password" value="" id="TextNew2Password" autocomplete="new-password"/>
                        </div>


                        <div class="find_btn_con">
                            <input style="margin-left: 150px;" class="sub_btn w14040" type="button" value="下一步" onclick="nextBution2()" />
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!--main end-->

<div ng-include="'../public/login_footer.html'"></div>
<!--footer  end-->
<!--<script src="../../js/jquery-1.8.3.min.js"></script>-->
<script src="../plugin/layer/layer.js"></script>

</body>
</html>