<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>我的笔记</title>
    <link rel="stylesheet" href="../../stylesheets/common.css" media="all"/>
    <link rel="stylesheet" href="../../stylesheets/notes.css"/>
</head>
<body>
<div class="container notes">
    <h1>我的笔记</h1>
    <div class="notes-nav">
        <div class="note-title">world 文档笔记</div>
        <ul class="clear">
            <li><a target="_blank" href="#">html5</a></li>
            <li><a target="_blank" href="">css3</a></li>
            <li><a target="_blank" href="">js</a></li>
            <li><a target="_blank" href="">jq</a></li>
            <li><a target="_blank" href="iscss.html">scss</a></li>
            <li><a target="_blank" href="">node js</a></li>
            <li><a target="_blank" href="">angule</a></li>
            <li><a target="_blank" href="syllabus.html">课程大纲</a></li>
        </ul>
        <div class="note-title">框架</div>
        <ul class="clear">
            <li><a target="_blank" href="http://m.sui.taobao.org/">sui</a></li>
            <li><a target="_blank" href="">bootstrap</a></li>
        </ul>
        <div class="note-title">插件</div>
        <ul class="clear">
            <li><a target="_blank" href="../../notes/plugin/bidu-map/index.html">地图插件</a></li>
            <li><a target="_blank" href="https://www.hcharts.cn/demo/highcharts">表格插件</a></li>
            <li><a target="_blank" href="http://layer.layui.com/">弹窗插件</a></li>
            <li><a target="_blank" href="http://validform.rjboy.cn/">验证插件</a></li>
            <li><a target="_blank" href="../../notes/plugin/compiler/index.html">小型编辑器插件</a></li>
            <li><a target="_blank" href="http://www.dowebok.com/93.html">幻灯片插件</a></li>
        </ul>
        <div class="note-title">js 特殊处理</div>
        <ul class="clear">
            <li><a target="_blank" href="http://www.dowebok.com/131.html">wow 滚动</a></li>
            <li><a target="_blank" href="">下拉查找</a></li>
            <li><a target="_blank" href="">div 模拟select</a></li>
            <li><a target="_blank" href="">div 模拟checkbox</a></li>
        </ul>
        <div class="note-title">css 效果</div>
        <ul class="clear">
            <li><a target="_blank" href="#">旋转动画</a></li>
            <li><a target="_blank" href="">css写三角形</a></li>
            <li><a target="_blank" href="">css写多边形</a></li>
            <li><a target="_blank" href="../../notes/css3/stripe_bg.html">条纹背景</a></li>
        </ul>
        <div class="note-title">scss和compass部分</div>
        <ul class="clear">
            <li><a target="_blank" href="#">scss安装</a></li>
            <li><a target="_blank" href="">scss调试</a></li>
            <li><a target="_blank" href="">compass雪碧图</a></li>
            <li><a target="_blank" href="">compass雪碧地图</a></li>
        </ul>
        <div class="note-title">兼容性</div>
        <ul class="clear">
            <li><a target="_blank" href="#">让ie最高版本读取</a></li>
            <li><a target="_blank" href=""></a></li>
            <li><a target="_blank" href=""></a></li>
            <li><a target="_blank" href=""></a></li>
        </ul>
    </div>
</div>

</body>
</html>