<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<pre>
    课程大纲：
零基础PC
移动端
响应式


零基础PC
第一章：前端开发概况、代码入门
第二章：常用标签集合
第三章：常用选择器、标签划分
第四章：浮动进阶
第五章：定位
第六章：表格表单
第七章：兼容性问题处理
第八章：整站进阶


第一章：前端开发概况、代码入门
1.1 -页面基本结构、文档声明、编码声明
1.2 - css语法、style属性、link和style标签、id属性
1.3 -基本样式、Border 、Background、 Font
1.4 -盒模垄
1.5-文本设置

第二章 ：常用标签集合
2.1 - header、article、aside、section、footer
2.2 - nav、h1-h6、p、ul、ol、li、img、dl、dt、dd
2.3 -绝对路径、相对路径
2.4 -标签语义化、标签嵌套规范、SEO

第三章：常用选择器&标签类型划分
3.1 - id、class
3.2 -类垄选择、包含选择、群组选择
3.3 -通配符、选择器优先级
3.4 -标签样式初始化订制方案
3.5 -超链接及伪类划分
3.6 -标签类垄划分及特性
3.7 - inline、inline-block、block


第四章 ：浮动进阶
4.1 - inline、inline-block、block
4.2 -文档流、浮动的各种问题
4.3 – clear
4.4 - BFC(块级格式化上下文)、触发BFC的条件
4.5-Haslayout、Haslayout的触发条件


第五章：定位
5.1 -relative相对定位
5.2 - Absolute绝对定位
5.3 - Fixed 固定定位
5.4 - inherit 继承
5.5 - static静态定位、默讣值
5.6-zIndex层级问题
5.7-margin负值、透明度


第六章：表格和表单
6.1 -表格标签
6.2 -表格样式重置
6.3 -单元格合并
6.4-表单元素
6.5-表单相关的属性操作
6.6-表单默讣样式初始

第七章：兼容性问题处理
7.1 -兼容性问题总结
7.2 -浮动在IE6 ，7下的各种问题
7.3 -表单在低版本IE的问题
7.4-处理低版本IE对新增标签的支持
7.5-CssHack、条件注释语句、PNG问题
7.6-透明度的问题
7.7-固定定位在IE低版本的处理方式


第八章：整站进阶
8.1 -样式规划
8.2 - favicon、Css Sprite、Data URI
8.3 -隐藏元素
8.4 -测试工具使用、滑动门
8.5 -等高布局、三列布局
8.6 -未知宽高图片在容器内水平垂直居中
8.7 -文本水平垂直居中、多行文本水平垂直居中
移动端

第九章：CSS3入门
第十章：移动端布局
第十一章：Animation和Transform
第十二章：OOCSS&CSS预处理器

第九章：CSS3入门
9.1 –transition
9.3 -属性选择器
9.4 - nth-of-type、nth-child
9.5 - backgroundSize、box-sizing
9.6 -圆角，盒模垄阴影、文字阴影
9.7 - rgba、表单高级、H5表单新增属性
9.8 - E:not(s)、E:target、E::selection、background-clip

第十章：移动端布局
10.1 -测试环境Emulation
10.2 - viewport、window.devicePixelRatio
10.3 -物理分辨率
10.4 - Media Queries、rem、window.screen
10.5 -移动端布局相关问题
10.6 - window.deviceorientationevent
10.7 -横竖屏判断


海棠学院-前端精品课程
第十一章：Animation和Transform
11.1 -浏览器前缀
11.2 - keyFrames、Animation调用
11.3 -播放次数设置、动画偶数次调用顺序
11.4-Animation的问题
11.5-无缝滚动、动画播放|暂停
11.6-rotate旋转、deg、skew斜切、scale缩放、translate位移
11.7-transform-origin、transform的执行顺序问题

第十二章：OOCSS&CSS预处理器
12.1 - Sass安装、导入
12.2 -变量、嵌套(Nesting)
12.3 -作用域、继承、函数、运算
12.4 -条件判断及循环
12.5-oocss思想、sassCore相关内容



响应式
第十三章：Bootstrap前端开发框架
13.1-Html语法规范
13.2-CSS语法规范
13.3-Less 和Sass 中的嵌套
13.4-class 命名、选择器
13.5-Normalize.css
13.6-栅格系统、排版、代码
13.7-响应式工具































JavaScript阶段

课程大纲：
JavaScript初级
JavaScript中级
JavaScript高级



JavaScript初级

第一章：JS入门 - 基础语法、变量、初始函数、属性操作、
if、for、自定义属性

第二章：数据类型、类型转换、作用域、运算符、流程控制、函数详解、闭包

第三章：定时器、日期对象、运动

第四章：字符串方法、Math方法、JSON方法、数组方法


第一章：JS入门 - 基础语法、变量、初始函数、属性操作、
if、for、自定义属性
1.1 - JS原理分析
1.2 - JS出现的位置
1.3 - 声明变量
1.4 - 属性操作
1.5 - 简单函数
1.6 - if 判断
1.7 - 获取元素的方法
1.8 - for循环
1.9 - 初探this
1.10 - 自定义属性
1.11 - 选项卡原理


第二章：数据类型、类型转换、作用域、运算符、流程控制、函数详解、闭包
2.1 - 数据类垄分类
2.2 - 检测数据类垄
2.3 - 数据类垄转换规则
2.4 - 运算符
2.5 - 流程控制其它方法
2.6 - 函数详解
2.7 - JS作用域、作用域链、预解析、垃圾回收机制、生命周期
2.8 - 闭包


第三章：定时器、日期对象、运动库
3.1 - 定时器
3.2 - setInterval、setTimeout
3.3 - clearInterval、clearTimeout
3.4 - 运动库
3.5 - 日期对象
3.6 - 倒计时
3.7 - 日历


第四章：字符串方法、Math方法、JSON方法、数组方法
4.1 - 字符串的操作方法
4.2 - JSON对象的方法
4.3 - Math对象的操作方法
4.4 - 数组的操作方法


JavaScript中级
第五章：DOM基础、DOM节点、元素的操作、表格表单操作
第六章：BOM基础、常用方法、常用属性
第七章：事件类型、Event对象、事件流、事件默认行为、冒泡与捕获、事件绑定与移除
第八章：事件应用 - 简易拖拽、碰撞检测、自定义滚动条


第五章：DOM基础、DOM节点、元素的操作、表格表单操作
5.1 -DOM结构
5.2 - DOM关系
5.3 - DOM节点
5.4 - DOM属性操作
5.5 - DOM操作表格/表单


第六章：BOM基础、常用属性、常用方法、常用事件
6.1 - BOM概念
6.2 - BOM常用属性
6.3 - BOM常用方法
6.4- BOM常用事件


第七章：事件类型、Event对象、事件流、事件默认行为、冒泡与捕获、事件绑定与移除
7.1 - 鼠标事件
7.2 - 键盘事件
7.3 - 焦点事件
7.4 - 表单常用方法
7.5 - Event对象详解
7.6 - 事件绑定、移除
7.7 - 事件流
7.8 - 事件冒泡、阻止事件冒泡
7.9 - 事件默讣行为


第八章：事件应用 - 简易拖拽、碰撞检测、自定义滚动条
8.1 - 简易拖拽
8.2 - 碰撞检测
8.3 - 自定义滚动条


JavaScript高级
第九章：正则表达式、new RegExp、子项、转义字符、量词
第十章：面向对象编程基础、构造函数、prototype原型、原型与原型链
第十一章：面向对象深入、包装对象、toString使用、继承
第十二章：面向对象-组件开发、组件配置，extend实现、组件事件


第九章：正则表达式、new RegExp、子项、转义字符、量词
9.1 - 复习字符串操作
9.3 - 什么是正则表达式
9.4 - 正则的写法
9.5 - 正则.test()
9.6 - 字符串.search()
9.7 - 修饰符
9.8 - 字符串.match()
9.9 - 字符串.replace()
9.10 - 子项()


9.11 - 正则表达式字符
9.12 - 转义字符
9.13 - 量词
9.14 - 正则首尾
9.15 - 常用正则实例（数据校验）
9.16 - 静态对象封装正则工具


第十章：面向对象编程基础、构造函数、prototype原型、原型与原型链
10.1 - 面向过程与面向对象
10.2 - 面向对象编程的特点
10.3 - 对象的创建
10.4 - 构造函数
10.5 - prototype原垄
10.6 - Mixed Constructor Function/Prototype Method
10.7 - 面向对象的选项卡分析及实现过程
10.8 - 面向对象编程(OOP)总结


第十一章：面向对象深入、包装对象、toString使用、继承
11.1 - 包装对象
11.2 - 对象常用操作
11.3 - 继承


第十二章：面向对象-组件开发、组件配置，extend实现、组件事件
12.1 - 组件介绍
12.2 - 组件方法的作用和实现
12.3 - 组件配置的作用和实现
12.4 - 组件事件的作用和实现


第十三章：jQuery3介绍-整体架构,css()、html()实现sizzle.js、Event、动画animate
13.1 - 什么是jQuery
13.2 -jQuery 整体架构
13.3 - 实现自己的Vquery
13.4 -jQuery 内置选择器库Sizzle.js
13.5 - $()中的参数说明
13.6 -jQ 中对DOM/BOM操作
13.7 -jQ 中对event操作
13.8 -jQuery动画研究
13.9 -jQuery工具方法和静态方法分析和使用


第十四章：Ajax介绍及工作原理分析、XMLHttpRequest、onload、onprogress、JSONP原理
14.1 - 什么是Ajax
14.2 - 使用Ajax
14.3 - 发送请求方式(get和post的区别)
14.4 - 处理返回数据
14.5 - 数据的异步无刷新上传与下载
14.6 - 跨域请求
14.7 - 跨域的问题和常用解决方式
14.8 –JSONP
14.9 -jQuery 中Ajax使用


第十五章：JQuery插件、表单验证插件、$().extend() ，自定义事件
15.1 -面向对象
15.2 -jq静态插件--表单验证
15.3、jq动态插件--拖拽
第十六章：JavaScript兼容性、forEach、querySelector、attachEvent、stopPropagation
16.1 -javaScript基础
16.2 – DOM
16.3 - DOM与BOM
16.4 - Event对象
16.5 - 事件侦听器
16.6 - Ajax


JavaScript全栈
第十七章：ECMAScript 6与编译工具
第十八章：zepto.js 与touch事件、swipe事件、gesture多指操作、体感操作
第十九章：nodeJS介绍及使用、npm、node模块、express、jade模板引擎、mongodb、tcp协议、udp协议、http协议、webSocket
第二十章：Git 及GitHub 使用
第二十一章：react介绍和使用、JSX介绍、ReactDOM、props、state、组件生命周期


第十七章：ECMAScript 6与编译工具
17.1 - let和const命令
17.2 - 变量的解构赋值
17.3 - 字符串／正则／数字／数组／函数／对象的扩展
17.4 - Symbol、Proxy和Reflect
17.5 - 二进制数组
17.6 - Set和Map数据结构
17.7 - Iterator和for...of循环
17.8 –Generator函数
17.9 - Promise对象
17.10 - 异步操作和Async函数
17.11 - Class
17.12 – Decorator


第十八章：zepto.js 与touch事件、swipe事件gesture多指操作、体感操作
18.1 - 移动端事件基础
18.2 –TouchEvent
18.3- swipe事件
18.4 - gesTrue函数
18.5 - setGravity重力感应


第十九章：nodeJS介绍及使用、npm、 node模块、express、jade模板引擎、 mongodb、tcp协议、udp协议、http协议、webSocket
19.1 - node环境搭建
19.2 - node模块使用
19.3 - nodejs-web开发框架介绍
19.4 - express的安装
19.5 - express项目初始化
19.6 - Routing的使用
19.7 -jade模板引擎
19.8 - mongodb数据库
19.9 - MongoDB Node.JS Driver
19.10 - 案例- segmentfault问答系统


第二十章：Git 及GitHub 使用
20.1 - git安装
20.2 - git连接
20.3 - git的基本使用
20.4 - git commit －m
20.5 - git push origin
20.6 - git pull
20.7 - GitHub 免费的远程仓库


第二十一章：react介绍和使用、JSX介绍、ReactDOM、props、state、组件生命周期
21.1 - react简介
21.2 - 搭建react环境
21.3 - JSX介绍
21.4 - 第一个案例
21.5 - 第一个组件
21.6 - 组件乊间的沟通
21.7 - 组件乊间的嵌套
21.8 - 事件event
21.9 - 改变组件状态
21.10 - 组件间的通信
21.11 - 组件生命周期




</pre>

</body>
</html>