<link rel="stylesheet" href="../../stylesheets/public.css"/>

<header id="header">
    <div class="fl">
        <a href="#">我的个性导航</a>
        <a href="../index.html">返回主页</a>
    </div>
    <div class="fr" id="user-name">
        <a href="../about/about.html" target="_blank">茉茉家家</a>
        <div id="user">
            <div class="user-img"><a target="_blank" href="../about/about.html"><img src="../../images/src/icon.jpg" alt="用户图片"/></a></div>
            <h3>茉茉家家</h3>
            <a class="user-btn" href="../setting/setting.html">编辑导航</a>
            <a class="user-btn" href="../user/user.html">个人中心</a>
        </div>
    </div>
</header>


