<link rel="stylesheet" href="../../stylesheets/public.css"/>

<header id="header" class="login">
    <div class="fl">
        <a href="../index.html">我的个性导航</a>
        <!--<a href="../index.html">返回主页</a>-->
    </div>
    <!--<div class="fr" id="user-name">
        &lt;!&ndash;<a href="../about/about.html" target="_blank">茉茉家家</a>&ndash;&gt;
        <div id="user">
            <div class="user-img"><a target="_blank" href="../about/about.html"><img src="../img/image/icon.jpg" alt="用户图片"/></a></div>
            <h3>茉茉家家</h3>
            <a class="user-btn" href="../setting/setting.html">编辑导航</a>
            <a class="user-btn" href="../user/user.html">个人中心</a>
        </div>
    </div>-->
</header>